.top-contianer{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    background-color: #000000;
    color: #fff;
}

.scroll-progress-tracking-container{
    width: 100%;
    height: 10px;
    background-color: #91a811;
}

.current-progress-bar{
    height: 10px;
    background-color: #e71dd9;
    width: 0%;
}